var notice_div = $('.flash.notice');
<% notice = flash.discard(:notice) || flash.discard(:error) %>
<% if notice %>
  if (notice_div.length > 0) {
    notice_div.html("<%= notice %>");
    notice_div.show();
  } else {
    $("#card_notice").html('<div class="flash notice"><%= notice %></div>');
  } 
<% end %>
